*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

.dashboard-container{
    display: grid;
    grid-template-columns: 200px auto 300px;
    height: 100vh;
    background-color: #f5f5f5;
}/*left side bar*/
.sidebar{
    background-color: #2a7f62;
    color: white;
    padding: 20px;
    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.sidebar-header h2{
    margin:0px;
    font-size: 22px;
}
.sidebar-nav ul li a{
    text-align: center;
}
.sidebar-header{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sidebar-nav details[open] summary{
    background:white;
    color: black;
}
.sidebar-nav summary{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}
.sidebar-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar-nav li{
    margin-bottom: 2px;
}
.sidebar-nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    background: rgb(39, 63, 39);
}
.sidebar-nav details{
    background:rgb(26, 100, 26) ;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
}
.sidebar-nav details ul{
    padding: 10px;
    background: rgb(106, 128, 74);
    margin: 0;
}
.sidebar-nav details ul li{
    padding: 5px;
}
.sidebar-nav details ul li a{
    padding: 8px;
    display: block;
}
.logout{
    margin-top: 20px;
    padding-top:20px;
    border-top: 1px solid white;
}
.logout a{
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 19, 19);
    border-radius: 4px;
}


/*MAIN -Content*/
.main-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.search-bar{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.search-bar input{
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-btn{
    padding: 10px;
    background-color: #2a7f62;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;    
}
.welcome{
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
}
.welcome h1{
    padding: 10px;
}
.welcome p{
    padding: 10px;
}
.new-issue-btn{
    background-color: #2a7f62;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.new-issue-btn a{
    text-decoration: none;
}
/*table*/
.issues.section{
    overflow-x:auto;
}
.issues-section h2{
    text-align: center;
}
.issues-table{
    width: 100%;
    border-collapse: collapse;
    background:white;
}
.issues-table th, .issues-table td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.status{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.open{
    background: #f39c12;
}
.in-progress{
    background: #3498db;
}
.resolved{background: #2ecc71;}
/*Right sidebar*/
.right-sidebar{
    background: white;
    padding: 20px;
    display: grid;
    gap: 15px;
}
.message-box{
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.message-actions{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.attach-btn, .send-btn{
    padding: 8px;
    cursor: pointer;
}
.notifications,.announcements{
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
/*improving responsiveness*/
@media(max-width:1024px){
    .dashboard-container{
        grid-template-columns: 200px auto; 
    }
    .right-sidebar{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .sidebar{
        position: fixed;
        left:-100%;
        width: 250px;
        height: 100vh;
        transition: left 0.3s ease-in-out;
    }
    .sidebar.active{
        left: 0;
    }
    .search-bar{
        flex-direction: column;
    }
    .right-sidebar{
        display: flex;
        flex-direction: column;
    }
    .issues-section{
        overflow-x: auto;
    }
}