body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.container{
    max-width:800px;
    margin:50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: #333;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],input[type="number"],input[type="file"],textarea,select{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    height: 150px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:disabled{
    background-color: white;
    cursor: not-allowed;
}
button:hover:enabled{
    background-color:rgb(63, 218, 63);
}
#leturerResults{
    border:1px solid #ccc;
    padding:5px;
    margin-top: 5px;
    max-height:100px;
    overflow-y:auto;
}
#lecturerResults div{
    padding:5px;
    cursor:pointer;
}
#lecturerResults div:hover{
    background-color: white;
}