
.assigned{
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width:93.9%;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
}
.assigned h2{
    text-align:center ;
}
.issues-gridd{
    width:100% !important;
    display:flex;
    flex-direction: column;
    gap: 15px;
}
.isssue-cardd{
    background: #ebe6e6;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);    
    position: relative;
    min-height: 90px;    
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.isssue-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
}
.priority{
    background: #d4b63d;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
}
.deadline{
    color: #680e0b;
    font-size: 0.9em;
    font-weight: bold;
}
.isssue-cardd:hover{
    transform: scale(1.02);
}
.isssue-carddh3{
    margin: 0;
    color: #333;
}
.isssue-cardd p{
    margin:5px 0;
    color: #a37171;
}/*
.isssue-cardd button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;    
}
.isssue-cardd button:hover{
    background: #0056b3;
}*/
.btn-container{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.report{
    background:green;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.report:hover{
    background:rgb(5,63,5);
}
.details{
    background: green;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
}
.details:hover{
    background: rgb(5, 63, 5);
}