.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-side, .content-section, .right-side {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.left-side {
  flex: 1;
  background-color: #b4b4b4;
}

.content-section {
  flex: 2;
  background-color: #ffffff;
}

.right-side {
  flex: 1;
  background-color: #c9c9c9;
}