.homepage{
    margin: 0px;
    padding: 0px;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.homepage b{
    font-size: 6vh;
    font-weight: 600;
}

.p2{
    font-size: 3.5vh;
}

.choicearea{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: center;
    width: auto;
}

.buttons{
    background-color: #000;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px transparent;
    font-family: inherit;
    cursor: pointer;
    font-size: large;
    margin: 20px;
}

.buttons:hover{
    border: 2px #f9e6c8;
}

.banner{
    width: 100%;
}