/* Styling for the DatePicker component */
.react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker {
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40vh;
  }
  
  .react-datepicker__header {
    font-family: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
  }
  
  .react-datepicker__day--selected {
    font-family: inherit;
    background-color: #007bff;
    color: white;
  }
  
  .react-datepicker__day--keyboard-selected {
    font-family: inherit;
    background-color: #0056b3;
  
    color: white;
  }
  
  .react-datepicker__day:hover {
    background-color: #e9ecef;
  }
  
  .react-datepicker__current-month {
    font-family: inherit;
    font-weight: bold;
  }
  
  .react-datepicker__day-name {
    font-family: inherit;
    color: #6c757d;
  }
  
  .react-datepicker__day {
    font-family: inherit;
    border-radius: 50%;
  }
  
  .react-datepicker__input-container input {
    font-family: inherit;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .react-datepicker__input-container input:focus {
    outline: none;
    border-color: #007bff;
    font-family: inherit;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }