<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post academic issues</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body class="body">
    <section class="top-section">
        <div class="title">AITS</div>
        <div class="status-bar">
            <div class="status-item">
                <a action="signup" method="get"> Login/Sign up </a>
            </div>
        </div>
    </section>
    <section class="bottom-section">    
        <section class="side-bar">
            <div class="side-bar-item">New</div>
            <div class="side-bar-item">Posted</div>
            <div class="side-bar-item">Solved</div>
        </section>
        <section class="content-section">sap</section>
        <section class="message-section">sap</section>
    </section>

</body>
</html>